


<div class="container-fluid bg-skill">
  <div class="skill_title">
    <h1 class="display-4 fw-normal text-center">Skills</h1>
  </div>
  
</div>


<div class="container">
	
<div class="jumbotron bg-light rounded mt-3">
  <h3 class=" fs-3 text-center p-3">Skill Bar OF WEB TECHNOLOGY</h3>

  <hr class="my-4">
</div>
</div>


<div class="container">

	<div class="row">
		<div class="col-md-6 col-12">
			<p>HTML</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
           </div>


           <p>CSS</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
           </div>


           <p>BOOTSTRAP</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
           </div>


           <p>SQL /MYSQL</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
           </div>

		</div>

		<div class="col-md-6 col-12">
			<p>PHP</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
           </div>


           <p>JAVASRIPT</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
           </div>


           <p>ANGULAR/ VUE</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
           </div>
		</div>
		
	</div>
	
</div>


<div class="container">
	
<div class="jumbotron bg-light rounded mt-3">
  <h3 class=" fs-3 text-center p-3">Skill Bar OF BASIC PROGRAMING LANGUAGE</h3>

  <hr class="my-4">
</div>
</div>


<<div class="container">
	<div class="row">
		<div class="col-md-6 col-12">
			<p>C</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
           </div>
           <p>JAVA</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
           </div>
		</div>

		<div class="col-md-6 col-12">
			<p>C++</p>
			<div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
           </div>
		</div>
		
		
	</div>
	
</div>



<div class="container-fluid footer  text-white">

<footer class="page-footer font-small fs-6">
  <div class="footer-copyright text-right py-3 bg-cyan"><img src="https://assets.codepen.io/7620876/internal/avatars/users/default.png?fit=crop&format=auto&height=80&version=1643453491&width=80" class="rounded-circle" alt="Naraya swain" width="55px" height="55px"> Narayan_swain &nbsp;<span class="fs-3">|</span> &nbsp;© 2022 Copyright:
  </div>
</footer>
    
</div>
