
<div class="container-fluid bg-education">
  <div class="education_title">
    <h1 class="display-4 fw-normal text-center">Education Qualification</h1>
  </div>
  
</div>


<div class="container mt-5">

  <div class="row">
    <div class="col-md-8 mx-auto d-block">
          <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4 edu_name ">
            <div class="edu_name">
              <p>2021-23</p>
              <h4>master degree</h4>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">MCA Computer Science</h5>
              <p class="card-text text-muted">Gandhi Institute for Technology (GIFT), Odisha
</p>
              <p class="card-text"><li>Present....</li></p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto d-block">
          <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4 edu_name ">
            <div class="edu_name">
              <p>2018-21</p>
              <h4>bachelor degree</h4>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">BSc Computer Science</h5>
              <p class="card-text text-muted">GAYATRI INSTITUTE OF COMPUTER & MANAGEMENT,HINJILICUT</p>
              <p class="card-text"><li>Complited Bsc Computer Science with 75.75%</li></p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>


  <div class="row">
    <div class="col-md-8 mx-auto d-block">
          <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4 edu_name ">
            <div class="edu_name">
              <p>2016-18</p>
              <h4>12th / CHSE</h4>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Council of Higher Secondary Education</h5>
              <p class="card-text text-muted">Anchalika Science College Vidya Vihar , Kshatriyabarapur,</p>
              <p class="card-text"><li>Complited 12th Carrier with 52%</li></p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-8 mx-auto d-block">
          <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4 edu_name ">
            <div class="edu_name">
              <p>2015-16</p>
              <h4> 10th / SSC</h4>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Secondary School Certificate</h5>
              <p class="card-text text-muted">S C P M High School,Gangapur,Ganjam,Odisha</p>
              <p class="card-text"><li>Complited 10th  with 73%</li></p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  
</div>


<div class="container-fluid footer text-white">

<footer class="page-footer font-small fs-6">
  <div class="footer-copyright text-right py-3 bg-cyan"><img src="https://assets.codepen.io/7620876/internal/avatars/users/default.png?fit=crop&format=auto&height=80&version=1643453491&width=80" class="rounded-circle" alt="Naraya swain" width="55px" height="55px"> Narayan
    _swain &nbsp;<span class="fs-3">|</span> &nbsp;© 2022 Copyright:
  </div>
</footer>
    
</div>

