

<div class="container-fluid bg-work">
  <div class="education_work">
    <h1 class="display-4 fw-normal text-center">WORK DESIGN SAMPLRE</h1>
  </div>
  
</div>



<div class="container mt-5 mb-5 text-center">
	<div class="row">
	  <div class="col-md-3">
			  	  
		<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="https://cdn.dribbble.com/users/77121/screenshots/15545151/media/a3085e89fea73c1c7b6c909c14c3ed76.gif" alt="Plant Shop">
		  <div class="card-body">
		    <h5 class="card-title">Plant-Shop Design </h5>
		    <p class="card-text">This is Simple Responsive Plant shop Ui Design </p>
		    <a href="https://plantshop-app.netlify.app/" class="btn btn-primary">Go URL</a>
		  </div>
		</div>
	  </div>

	  <div class="col-md-3">
	  	<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="https://png.pngtree.com/png-clipart/20210301/ourlarge/pngtree-fashion-autumn-personality-dress-womens-clothing-store-clipart-png-image_2989394.jpg" alt="cloth -Store">
		  <div class="card-body">
		    <h5 class="card-title">Cloth-Store </h5>
		    <p class="card-text">This is Simple Responsive Mini Project Using Php & Mysql.</p>
		    <a href="http://vinayankclothshop.epizy.com/cloth_store/?i=1" class="btn btn-primary">Go URL</a>
		  </div>
		</div>
	  </div>	


	   <div class="col-md-3">
	  	<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="https://img1.picmix.com/output/stamp/normal/1/7/8/0/1720871_5eecf.gif" alt="Coffee Coffee-Shop">
		  <div class="card-body">
		    <h5 class="card-title">Coffee-Shop</h5>
		    <p class="card-text">This is Simple Responsive Coffee shop Designed for Study Purpose.</p>
		    <a href="http://coffee.42web.io/cofee/" class="btn btn-primary">Go URL</a>
		  </div>
		</div>
	  </div>

        <div class="col-md-3">
	  	<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="https://cdn2.hubspot.net/hubfs/439788/Blog/Featured%20Images/Best%20Hotel%20Website%20Designs.jpg">
		  <div class="card-body">
		    <h5 class="card-title">Vinayak Hotel</h5>
		    <p class="card-text">This is Simple Responsive Hotel System .</p>
		    <a href="http://vinayakhotel.rf.gd/" class="btn btn-primary">Go URL</a>
		  </div>
		</div>
	  </div>




	</div>
	
</div>



<div class="container-fluid footer  text-white">

<footer class="page-footer font-small fs-6">
  <div class="footer-copyright text-right py-3 bg-cyan"><img src="https://assets.codepen.io/7620876/internal/avatars/users/default.png?fit=crop&format=auto&height=80&version=1643453491&width=80" class="rounded-circle" alt="Naraya swain" width="55px" height="55px"> Narayan
    _swain &nbsp;<span class="fs-3">|</span> &nbsp;© 2022 Copyright:
  </div>
</footer>
    
</div>

