

<div class="container-fluid bg-home">
  <div class="contact_home">

    <div class="p-5 mb-4  rounded-3 ">
      <div class="container-fluid py-2 text-center ">
          
        <h1 class="display-5 fw-bold text-center">Website design portfolio</h1>
        <p class="col-md-12 fs-4 text-info fs->">Hi, this is Narayan swain...</p>
            
         <div class="icon">
          <a href="https://www.facebook.com/narayan.swain.372019/">
          <i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/narayan_swayn/">
          <i class="fa fa-instagram"></i></a>
          <a href="">
          <i class="fa fa-google"></i></a>
          <a href="https://github.com/narayaanyamato">
          <i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/narayan-swain-0a8290208/">
          <i class="fa fa-linkedin"></i>
          <a href="https://codepen.io/narayaanyamato">
          <i class="fa fa-codepen"></i></a>
        </a>
           
         </div>
       
      </div>

      <img class="svg2" src="../assets/img/scattered-forcefields.svg">

    </div>

  </div>
  
</div>



    <div class="container">
      <div class="row">
        <div class="col-md-8">
          
        </div>
      </div>
      
    </div>



<div class="container-fluid footer  text-white">

<footer class="page-footer font-small fs-6">
  <div class="footer-copyright text-right py-3 bg-cyan"><img src="https://assets.codepen.io/7620876/internal/avatars/users/default.png?fit=crop&format=auto&height=80&version=1643453491&width=80" class="rounded-circle" alt="Naraya swain" width="55px" height="55px"> Narayan
    _swain &nbsp;<span class="fs-3">|</span> &nbsp;© 2022 Copyright:
  </div>
</footer>
    
</div>

