


<div class="container-fluid bg-about">
  <div class="contact_about">
    <h1 class="display-4 fw-normal text-center">About Me </h1>
  </div>
  
</div>


<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6"> 
			<div class="about">
				<div class="about_img">
					<img src="../assets/img/IMG_20191027_110833.jpg">
				</div>
				<p>Hi , My name is narayan swain and  I started my journey in the world of computers from an young age, now I’m 22 years old, Pursuing my Computer Science MCA in GIFT. Web development is my center of interest, i always love Design and the idea of cross-platform development </p>
           	
			</div>
					
		</div>

		<div class="col-md-6 col-12 mx-auto d-blocksss">

			<h2 class="text-center bg-light rounded p-2">SOME BASIC INFORMATION</h2>
			<table>
			  <tr>
		      
		      <td>DATE OF BIRTH</td>
		       <td> 02FEB 2000</td>
		    </tr>

		    <tr>
		    	
		      <td>MOBILE NO</td>
		       <td>7847869140</td>
		    </tr>


		    <tr>
		    	
		      <td>ADDRESS</td>
		       <td>BORI, GANJAM,ODISHA</td>
		    </tr>


		    <tr>
		    	
		      <td>LANGUAGES</td>
		       <td>HINDI,ODIA,ENGLISH</td>
		    </tr>
		   
		   
			</table> 

			<img class="svg5" src="https://vikalp2502.github.io/Web-Design-Portfolio/svg/square-poly.svg">

		</div>
		
	</div>

	<img class="svg2" src="https://vikalp2502.github.io/Web-Design-Portfolio/svg/square.svg">
	
</div>
<img class="svg4" src="https://vikalp2502.github.io/Web-Design-Portfolio/svg/dashed-circle.svg">


<div class="container-fluid footer  text-white">

<footer class="page-footer font-small fs-6">
  <div class="footer-copyright text-right py-3 bg-cyan"><img src="https://assets.codepen.io/7620876/internal/avatars/users/default.png?fit=crop&format=auto&height=80&version=1643453491&width=80" class="rounded-circle" alt="Naraya swain" width="55px" height="55px"> Narayan_swain &nbsp;<span class="fs-3">|</span> &nbsp;© 2022 Copyright:
  </div>
</footer>
    
</div>